.popular div{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.popular{
    width: 100%;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.popularList{
    width: 100%;
    align-items: center!important;
    justify-content: space-between!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    display: flex!important;

}
.popularItem{
    width: calc((100% - 90px) / 4);
    margin-bottom: 26px;
}
.popularItem img{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.popularItemText{
    position: absolute;
    left: 28px;
    bottom: 60px;
    z-index: 10;
}
.popularItemTitle{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;

}

