.bottombar{
    width: 100%;
    height: 300px;
    background-color: #080d1d;
    display: flex;
    align-items: center;
    font-family: 'Lora', serif;
    color: #fff;
}
.bottomLeft, .bottomCenter {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottomRight{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom_input{
    width: calc(100% - 50px);
    height: 56px;
    border: solid 2px rgba(255,255,255,0.5);
    outline: none;
    background: transparent;
    padding-left: 31px;
    color: #FFFFFF;
}
.bottom_button{
    width: 161px;
    height: 56px;
    vertical-align: top;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe364a;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

