ul{
    list-style: none;
    margin-bottom: 0px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 65px;
    margin-left: calc(50% - 585px);
    margin-right: calc(50% - 585px);
}
/* div{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */