ul{
    list-style: none;
    margin-bottom: 0px;
}
a{
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 56px;
    text-decoration: none;
    background-color: transparent;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 65px;
    margin-left: calc(50% - 585px);
    margin-right: calc(50% - 585px);
}
.col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.sectionTitle{
    padding-top: 30px;
    line-height: 1.1;
    font-size: 40px;
    font-weight: 300;
    text-align: center!important;

}
.sectionTitle div {
    font-size: 16px;
    font-weight: 600;
    color: #7d8293;
    text-transform: uppercase;
    margin-top: 19px;
}
/* div{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */