.home{
    display: flex;
}
.lastImg{
    width: 100%;
    height: 915px;
    object-fit: cover;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.lastLeft, .lastRight{
    flex: 6;
}
.lastItem{
    padding-right: 41px;
}
.lastItemContainer{
    background: rgba(254, 64, 91, 0.79);
    padding-top: 53px;
    padding-bottom: 35px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 90px;
    padding-right: 80px;
}


