.post {
    width: 360px;
    margin: 0px 25px 40px 25px;
}
.postImg{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 7px;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postTitle{
    font-family: 'Lora', serif;
    font-size: 20px;
}