
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}
.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 35px;
}
.headerTitleLg{
    position: absolute;
    top: 28%;
    font-size: 25px;
}