.top{
    width: 100%;
    height: 90px;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Lora', serif;
    color: #666;
    z-index: 999;
}

.topLeft{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex: 8;
} 
/* .topCenter ul{
    padding-left: 10rem !important;
}  */
.topRight{
    flex: 4;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topImg{
    width: 140px;
    height: 90px;
    object-fit: cover;
}
.topList{
    height: 100%;
    display: inline-flex;
}
.topListItem{
    display: inline-block;
    position: relative;
    padding-top: 2px;
}
.topListItem a {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 90px;
    padding-left: 22px;
    padding-right: 22px;
}
.topSearchIcon{
    font-size: 25px;
    width: 100%;
    color: #666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 90px;
    cursor: pointer;
}
.topListItem.active::after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fe435b;
    content: '';
}

.topSeach{
    width: 100%;
    margin-right: 7px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topSeach i {
    text-align: right;
    padding-right: 30px;
}
.topUser{
    width: 150px;
    background-color: #fe435b;
    float: right;
    margin-right: 0px;
}

.topSeach form {
    /* border: .5px solid #d8d8d8; */
    border: solid 2px rgba(255,255,255,0.5);
    border-radius: 5px;
    height: 50px;
    position: relative;
    overflow: hidden;
}
.topSeach form input[type=text] {
    width: 90%;
    height: 100%;
    width: 100%;
    padding: 0 25px;
    color: #2d4271;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.topSeach form input[type=reset] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 120px;
    border: none;
    background: 0 0;
}
.topSeach form i {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
    font-size: 28px;
    color: #2d4271;
}