.filtering_row{
    margin-top: 30px;
}
.col.colEdit{
    border-bottom: 1px solid #dbdbdb;
}
.sortingGroup1{
    float: left;
}
.sortingItem{
    display: inline-block;
}
.sortingItem li {
    display: inline-block;
    position: relative;
    width: 132px;
    height: 36px;
    line-height: 32px;
    cursor: pointer;
    border: solid 2px #dbdbdb;
    padding-left: 15px;
    padding-right: 7px;
    margin-right: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #131a2f;
    margin-bottom: 10px;
}
.sortingItem li i {
    float: right;
    line-height: 32px;
    font-size: 18px;
    color: #d0d0d0;
}
.items{
    margin-top: 30px;
    zoom: 1;
}
.item{
    width: 50%;
    float: left;
    margin-bottom: 35px;
    zoom: 1;
}
